* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
   background-color: #a6caf0;
}

.header {
   background: #a6caf0;
   font: 5vh Verdana, Helvetica, sans-serif;
   font-weight: bold;
   height: 5.75vh;
   margin-top: 5px;
   border-radius: 10px 10px 0 0;
   display: -ms-grid;
   display: grid;
   grid-template-columns:
      -webkit-min-content
      1fr
      -webkit-min-content;
   -ms-grid-columns: -webkit-min-content 1fr -webkit-min-content;
   -ms-grid-columns: min-content 1fr min-content;
   grid-template-columns:
      min-content
      1fr
      min-content;
   margin-bottom: 5px;
   text-align: center;
   line-height: 5vh;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
}
.table {
   position: relative;
   /*  border-collapse: collapse;*/
   /*  margin-left: 10px;*/
   /*    margin-right: 10px;*/
}
.table th {
   position: relative;
   border-bottom: 2px solid white;
   border-top: 2px solid white;
}
.table td {
   position: relative;
   border-bottom: 2px solid white;
   border-top: 2px solid white;
}
.table td:first-child:before {
   content: "";
   position: absolute;
   border-radius: 8px 0 0 8px;
   width: 1px;
   height: 100%;
   left: -2px;
   top: 0px;
}
.table td:last-child:after {
   content: "";
   position: absolute;
   border-radius: 0 8px 8px 0;
   width: 12px;
   height: 100%;
   left: 104px;
   top: 0px;
}
.table th:first-child:before {
   content: "";
   position: absolute;
   border-radius: 8px 0 0 8px;
   background-color: #cfe2ff;
   width: 12px;
   height: 100%;
   left: -2px;
   top: 0px;
}
.table th:last-child:after {
   content: "";
   position: absolute;
   border-radius: 0 8px 8px 0;
   background-color: #cfe2ff;
   width: 12px;
   height: 100%;
   left: 104px;
   top: 0px;
   border-radius: 0 5px 5px 0;
}
.table tr:hover td {
   background-color: #c5c5c5;
}
.table th:hover td {
   background-color: #c5c5c5;
}
.table th.table-primary td:first-child:before {
   background-color: #cfe2ff;
}

.table tr.table-warning td:first-child:before {
   background-color: #fff3cd;
}
.table tr.table-success td:first-child:before {
   background-color: #d1e7dd;
}
.table tr.table-danger td:first-child:before {
   background-color: #f8d7da;
}
.table th.table-primary th:last-child:after {
   background-color: #cfe2ff;
}
.table tr.table-warning td:last-child:after {
   background-color: #fff3cd;
}
.table tr.table-success td:last-child:after {
   background-color: #d1e7dd;
}
.table tr.table-danger td:last-child:after {
   background-color: #f8d7da;
}
/*
.table-curved {
  border-collapse: collapse;
  margin-left: 10px;
}
.table-curved th {
  padding: 3px 10px;
}
.table-curved td {
  position: relative;
  background-color: #e5e5e5;
  padding: 6px 10px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.table-curved td:first-child:before {
  content: '';
  position: absolute;
  border-radius: 8px 0 0 8px;
  background-color: coral;
  width: 12px;
  height: 100%;
  left: -12px;
  top: 0px;
}
.table-curved td:last-child {
  border-radius: 0 5px 5px 0;
}
.table-curved tr:hover td {
  background-color: #c5c5c5;
}
.table-curved tr.blue td:first-child:before {
  background-color: cornflowerblue;
}
.table-curved tr.green td:first-child:before {
  background-color: forestgreen;
}

/*
.table-primary {
   margin-top: 10px;
   border-radius: 15px;
}

.table-danger {
   margin-top: 10px;
}
.btn {
   border-radius: 10px;
}
.btn-primary {
}
.table-success {
   margin-top: 10px;
   border-radius: 15px;
}
.table-warning {
   margin-top: 10px;
   border-radius: 15px;
}
*/

.logo {
   height: 5%;
   position: relative;
}
.logo img {
   padding: 5px;
   max-height: 5.75vh;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: center;
   object-position: center;
}

.columns {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 7fr;
   grid-template-columns: 1fr 7fr;
   grid-gap: 5px;
}

.inner-content {
   background: #a6caf0;
   height: 88.64vh;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
}

.inner-content > content-columns > table {
   border-radius: 100px;
}
.inner-sidebar {
   background: #a6caf0;
   height: 88.64vh;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
}
.sidebar-rows {
   padding: 1.5vh;
   display: -ms-grid;
   display: grid;
   -ms-grid-rows: (4fr) [8];
   grid-template-rows: repeat(8, 4fr);
   grid-gap: 1.5vh;
   grid-auto-rows: 3vh;
   text-align: center;
}
.sidebar-rows > button {
   border-radius: 15px 15px 15px 15px;
   height: 8vh;
   line-height: 3vh;
   font: 3vh Verdana, Helvetica, sans-serif;
   font-weight: bold;
   background: #667db6;
   background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#667db6),
      color-stop(#0082c8),
      color-stop(#0082c8),
      to(#667db6)
   );
   background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
.sidebar-rows > button:hover {
   background: #0575e6;
   background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#021b79),
      color-stop(#0575e6),
      color-stop(#0575e6),
      to(#021b79)
   );
   background: linear-gradient(to right, #021b79, #0575e6, #0575e6, #021b79);
   -webkit-box-shadow: 0 15px 20px rgba(0, 0, 102, 0.788);
   box-shadow: 0 15px 20px rgba(0, 0, 102, 0.788);
   color: white;
   -webkit-transform: translateY(-5px);
   transform: translateY(-5px);
}
.sidebar-rows > button:active {
   background: #0575e6;
   background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#0575e6),
      color-stop(#021b79),
      color-stop(#021b79),
      to(#0575e6)
   );
   background: linear-gradient(to right, #0575e6, #021b79, #021b79, #0575e6);
   -webkit-box-shadow: 0 15px 20px rgba(0, 0, 102, 0.788);
   box-shadow: 0 15px 20px rgba(0, 0, 102, 0.788);
   color: white;
   -webkit-transform: translateY(-5px);
   transform: translateY(-5px);
}

.footer {
   /*    background:#A6CAF0;*/
   font-weight: bold;
   margin-top: 5px;
}
.inner-footer {
   text-indent: 5px;
   border-radius: 0 0 10px 10px;
   background: #a6caf0;
   height: 3.25vh;
   line-height: 3.25vh;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
}
